.navbar {
    height: 70px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
    font-size: 22px;
}

.navButton {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
}

.navProfile {
    width: 140px;
    height: 40px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 12px;
    cursor: pointer;
}

.navProfile:hover {
    background-color: #1a4fa0;;
}

.profileImg {
    border-radius: 50%;  
}

.profileImg img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    outline: 1px solid #febb02;
}

.profileText p {
    font-size: 14px;
    font-weight: bold;
}

.profileText span {
    font-size: 12px;
    color: #febb02;
}   
